In [179]:
import pandas as pd
import numpy as np

In [180]:
dtrain = pd.read_csv('data/train.csv')
# dtest = pd.read_csv('data/test.csv')

In [181]:
dtrain.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [182]:
data = dtrain

In [183]:
data.shape

(550068, 12)

## Asiding the response variable

In [184]:
response = data.Purchase
data.drop(['Purchase'], inplace=True, axis=1)

## Cleaning the data

### Feature Creation

#### 1. Age

In [185]:
def split_age(age, which):
    if which == 'lower':
        if age[2] != '+':
            return int(age.split('-')[0])
        else:
            return int(age.split('+')[0])
    elif which == 'upper':
        if age[2] != '+':
            return int(age.split('-')[1])
        else:
            return 80

In [186]:
data['lower_age'] = data.Age.apply(lambda row: split_age(row, 'lower'))
data['upper_age'] = data.Age.apply(lambda row: split_age(row, 'upper'))

In [187]:
data.drop(['User_ID',
          'Product_ID',
          'Age'], inplace=True, axis=1)

#### 2. Stay_In_Current_City_Years

In [188]:
data.Stay_In_Current_City_Years.unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

In [193]:
data.loc[data.Stay_In_Current_City_Years == '4+', 'Stay_In_Current_City_Years'] = '4'
data['Stay_In_Current_City_Years'] = data.Stay_In_Current_City_Years.astype(int)